<div class="articles-wrapper">
  <div class="header">
    <h2>My Articles</h2>
  </div>

  <!-- Loader -->
  <div class="loader" *ngIf="loading">Loading articles...</div>

  <!-- Table -->
  <div class="feature-card" *ngIf="!loading">
    <app-ad-table
      [tableData]="articleTableList"
      [isTableTile]="true"
      [isTableFilter]="true"
      [isSearchShow]="true"
      [searchObject]="articleSearchObject"
      [showHistory]="false"
      (searchParamObj)="applyArticleSearch($event)"
    >
    </app-ad-table>
  </div>

  <!-- No Data -->
  <div class="no-data" *ngIf="!loading && articleTableList.length === 0">
    No articles found.
  </div>
</div>
