<app-preview-modal #previewModal [base64Image]="previewImageUrl">
</app-preview-modal>

<app-custom-modal
  [title]="'Add Article'"
  *ngIf="show"
  (onClickCross)="close()"
  (closeModal)="close()"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <form (ngSubmit)="onSubmit(formRef)" #formRef="ngForm">
          <div class="col-lg-5 col-md-3 col-xs-2 w-100 mt-3 input-text-group">
            <label class="form-label m-0">Title</label>
            <span class="asterisk">*</span>
            <input
              type="text"
              [(ngModel)]="formData.title"
              name="title"
              placeholder="Enter Title"
              required
              class="form-control"
            />
          </div>
          <div class="col-lg-5 col-md-3 col-xs-2 w-100 mt-3 input-text-group">
            <label class="form-label m-0">Description</label>
            <span class="asterisk">*</span>
            <input
              type="text"
              [(ngModel)]="formData.description"
              name="description"
              placeholder="Enter Description"
              required
              class="form-control"
            />
          </div>

          <div
            class="col-lg-5 col-md-3 col-xs-2 w-100 mt-3 input-text-group section-box"
            *ngFor="let section of formData.sections; let i = index"
          >
            <div>
              <label class="form-label m-0">Section Name</label>
              <span class="asterisk">*</span>
              <input
                type="text"
                class="form-control"
                placeholder="Enter Section Name"
                [(ngModel)]="section.key"
                name="sectionKey{{ i }}"
                required
              />
            </div>
            <div>
              <label class="form-label m-0">Section Explaination</label>
              <span class="asterisk">*</span>
              <textarea
                [(ngModel)]="section.explanation"
                name="explanation{{ i }}"
                placeholder="Enter explanation"
                class="text-textarea"
                required
                rows="4"
              >
              </textarea>
            </div>
            <div class="section-header">
              <!-- Action buttons -->
              <div class="section-actions">
                <!-- Delete -->
                <a
                  href="javascript:void(0);"
                  class="bt-action section-delete"
                  data-bs-toggle="tooltip"
                  title="Delete"
                  (click)="deleteSection(i)"
                >
                  <img
                    src="../../../assets/svg/Delete.svg"
                    alt="Delete"
                    class="icon-fixed"
                  />
                </a>
              </div>
            </div>

            <!-- Image Upload -->
            <div class="image-upload-row">
              <input
                type="file"
                accept="image/*"
                (change)="uploadImage($event, i)"
              />

              <!-- Preview button -->
              <button
                *ngIf="section.imageUrl"
                type="button"
                class="preview-button"
                (click)="openPreview(section.base64Image)"
              >
                Preview
              </button>
            </div>
          </div>

          <button class="common-button" type="button" (click)="addSection()">
            + Add Section
          </button>

          <div class="buttons">
            <div class="buttons mt-5">
              <button
                type="submit"
                (click)="createArticle($event)"
                [disabled]="formRef.invalid"
                class="button-submit"
              >
                Submit
              </button>

              <button type="button" class="button-back" (click)="resetForm()">
                Reset
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</app-custom-modal>
