<app-toast-message [successToast]="successToast" [errorToast]="errorToast" [toastMsg]="toastMsg"></app-toast-message>

<div class="bg-color" style="height: calc(100% - 60px);">
    <!-- <div>
        <ul class="nav nav-tabs tab-class">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Profile</a>
            </li>
        </ul>
    </div> -->

    <div class="">
        <h4 class="page-heading">Profile</h4>

        <div class="profile-card">
            <table class="table table-bordered table-responsive table-striped" style="width: 100%;">
                <tbody>
                    <tr>
                        <td class="key">Account Number of Vendor Or Creditor</td>
                        <td>{{userData['id']}}</td>
                        <td class="key">Name</td>
                        <td>{{userData['username']}}</td>
                    </tr>
                    <tr>
                        <td class="key">Street 1</td>
                        <td>{{userData['street1']}}</td>
                        <td class="key">Street 2</td>
                        <td>{{userData['street2']}}</td>
                    </tr>
                    <tr>
                        <td class="key">Street 3</td>
                        <td>{{userData['street3']}}</td>
                        <td class="key">Street 4</td>
                        <td>{{userData['street4']}}</td>
                    </tr>
                    <tr>
                        <td class="key">Region (State, Province, Country)</td>
                        <td>{{userData['region']}}</td>
                        <td class="key">District</td>
                        <td>{{userData['district']}}</td>
                    </tr>
                    <tr>
                        <td class="key">Postal Code</td>
                        <td>{{userData['postal_code']}}</td>
                        <td class="key">City</td>
                        <td>{{userData['city']}}</td>
                    </tr>
                    <tr>
                        <td class="key">E-Mail Address</td>
                        <td>{{userData['email']}}</td>
                        <td class="key">Telephone Number</td>
                        <td>{{userData['phoneNumber']}}</td>
                    </tr>
                    <tr>
                        <td class="key">GST Number</td>
                        <td>{{userData['gst']}}</td>
                        <td class="key">Tax Number At Responsible Tax Authority</td>
                        <td>{{userData['tax']}}</td>
                    </tr>
                    <tr>
                        <td class="key">Vendor Account Group</td>
                        <td>{{profileForm1['vendor_group']}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    
</div>

