<h4 class="page-heading">Profile</h4>

<div class="profile-card">

  <form class="profile-form" [formGroup]="profileForm">

    <table class="table table-bordered table-striped w-100">
      <tbody>

        <tr>
          <td class="key">Account Number</td>
          <td>{{ profileForm.get('account_no')?.value }}</td>

          <td class="key">Name</td>
          <td>
            <span *ngIf="!isEditMode">{{ profileForm.get('name')?.value }}</span>
            <input *ngIf="isEditMode" class="form-control" formControlName="name" />
          </td>
        </tr>

        <tr>
          <td class="key">Address Line 1</td>
          <td>
            <span *ngIf="!isEditMode">{{ profileForm.get('addressLine1')?.value }}</span>
            <input *ngIf="isEditMode" class="form-control" formControlName="addressLine1" />
          </td>

          <td class="key">Address Line 2</td>
          <td>
            <span *ngIf="!isEditMode">{{ profileForm.get('addressLine2')?.value }}</span>
            <input *ngIf="isEditMode" class="form-control" formControlName="addressLine2" />
          </td>
        </tr>

        <tr>
          <td class="key">Landmark</td>
          <td>
            <span *ngIf="!isEditMode">{{ profileForm.get('landmark')?.value }}</span>
            <input *ngIf="isEditMode" class="form-control" formControlName="landmark" />
          </td>

          <td class="key">City</td>
          <td>
            <span *ngIf="!isEditMode">{{ profileForm.get('city')?.value }}</span>
            <input *ngIf="isEditMode" class="form-control" formControlName="city" />
          </td>
        </tr>

        <tr>
          <td class="key">District</td>
          <td>
            <span *ngIf="!isEditMode">{{ profileForm.get('district')?.value }}</span>
            <input *ngIf="isEditMode" class="form-control" formControlName="district" />
          </td>

          <td class="key">State</td>
          <td>
            <span *ngIf="!isEditMode">{{ profileForm.get('state')?.value }}</span>
            <input *ngIf="isEditMode" class="form-control" formControlName="state" />
          </td>
        </tr>

        <tr>
          <td class="key">Country</td>
          <td>
            <span *ngIf="!isEditMode">{{ profileForm.get('country')?.value }}</span>
            <input *ngIf="isEditMode" class="form-control" formControlName="country" />
          </td>

          <td class="key">Postal Code</td>
          <td>
            <span *ngIf="!isEditMode">{{ profileForm.get('postalCode')?.value }}</span>
            <input *ngIf="isEditMode" class="form-control" formControlName="postalCode" />
          </td>
        </tr>

        <tr>
          <td class="key">Email</td>
          <td>
            <span *ngIf="!isEditMode">{{ profileForm.get('email')?.value }}</span>
            <input *ngIf="isEditMode" class="form-control" formControlName="email" />
          </td>

          <td class="key">Phone</td>
          <td>
            <span *ngIf="!isEditMode">{{ profileForm.get('phone')?.value }}</span>
            <input *ngIf="isEditMode" class="form-control" formControlName="phone" />
          </td>
        </tr>

      </tbody>
    </table>
  </form>

  <div class="d-flex justify-content-end gap-2 mt-3">
    <button *ngIf="!isEditMode" class="profile-edit-btn" (click)="edit()">Edit</button>
    <button *ngIf="isEditMode" class="profile-cancel-btn" (click)="cancel()">Cancel</button>
    <button *ngIf="isEditMode" class="profile-save-btn" (click)="save()">Save</button>
  </div>

</div> 
