.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #F1F1F1;
    min-height: 40px;

}

.footer .footer-label {
    font-weight: 500;
    font-size: 11px;
}

.footer .footer-help {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.footer .help-call {
    width: 12px;
    margin-right: 5px;
}

.footer .help-email {
    width: 12px;
    margin-right: 5px;
}

.footer img,
svg {
    vertical-align: initial;
}

.footer .circle {
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background: #000;
    margin: 0 13px;
}


@media screen and (max-width: 767px) {
    .d-sm-center {
        display: flex;
        justify-content: center;
    }
}