<!-- <app-toast-message [successToast]="successToast" [errorToast]="errorToast" [toastMsg]="toastMsg"></app-toast-message> -->

<div class="bd-tab-content-ss card shadow border-transparent">
    <div class="bd-tab-content">
        <div class="d-flex justify-content-center align-items-center adani-logo">
            <img src="../../../assets/svg/Adani-logo-1.svg" alt="" />
        </div>
        <div class="tabs">
            <div class="tab" [class.active]="activeTab === 'tab1'" (click)="changeTab('tab1')">Employee</div>
            <!-- <div class="tab" [class.active]="activeTab === 'tab2'" (click)="changeTab('tab2')">Vendor</div> -->
        </div>

        <div class="bd-tab-content">
            <div *ngIf="activeTab === 'tab1'">
                <div class="login-panel">
                    <div class="login-section">

                        <form *ngIf="!production" [formGroup]="siteLoginForm" name="siteLoginForm">

                            <div class="py-2 text-start">
                                <label for="username" class="form-label">AD ID</label>
                                <input type="email" class="form-control" id="username" placeholder="Enter your AD ID"
                                    formControlName="username" maxLength="51" minlength="4">


                                <span *ngIf="siteLoginForm.get('username').hasError('maxlength')" class="error-message">
                                    username exceeds max 50 characters
                                </span>
                            </div>
                            <div class="py-2">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" class="form-control" id="password" placeholder="*********"
                                    formControlName="password" maxLength="50">
                            </div>
                            <div class="d-grid gap-2">
                                <button *ngIf="!isLoader" class="login-button" type="submit"
                                    [disabled]="siteLoginForm.invalid" (click)="login($event)">Login</button>

                                <button *ngIf="isLoader" class="login-button" type="button" disabled>
                                    <span class="spinner-border spinner-border-sm" role="status"
                                        aria-hidden="true"></span>
                                    Loading...
                                </button>
                            </div>

                        </form>
                        <div *ngIf="errMsg">
                            <p class="error-message">{{errMsg}}</p>
                        </div>
                        <div *ngIf="loginErrorMsg">
                            <div class="error-message">{{loginErrorMsg}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>