<app-toast-message
  [successToast]="successToast"
  [errorToast]="errorToast"
  [toastMsg]="toastMsg"
></app-toast-message>

<div class="articles-wrapper">
  <div class="header">
    <h2>All Articles</h2>
    <button class="common-button" (click)="openAddArticlePanel()">
      + Add Article
    </button>
  </div>

  <!-- Loader -->
  <div class="loader" *ngIf="loading">Loading articles...</div>

  <!-- Table -->
  <div class="feature-card" *ngIf="!loading">
    <app-ad-table
      [tableData]="articleTableList"
      [isTableTile]="true"
      [isTableFilter]="true"
      [isSearchShow]="true"
      [searchObject]="articleSearchObject"
      [showHistory]="false"
      [showActionColumn]="true"
      (searchParamObj)="applyArticleSearch($event)"
    >
    </app-ad-table>
  </div>

  <div class="actions-right">
    <button class="common-button" (click)="goToMyArticles()">
      View My Articles
    </button>
  </div>

  <app-add-article-modal
    [show]="showAddPanel"
    (closeModal)="showAddPanel = false"
    (articleCreated)="onArticleCreated()"
  >
  </app-add-article-modal>
</div>
