<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow p-4" style="width: 380px;">
  
      <h4 class="page-heading text-center">Reset Password</h4>
  
      <form [formGroup]="resetForm" (ngSubmit)="onSubmit()" *ngIf="!errorMsg">
  
        <div class="mb-3 login-section mt-3">
          <label class="form-label">New Password <span class="asterisk">*</span></label>
          <input type="password" class="form-control" placeholder="Enter new password"
                 formControlName="newPassword">
  
          <small class="text-danger"
            *ngIf="resetForm.get('newPassword')?.touched &&
                   resetForm.get('newPassword')?.hasError('required')">
            Password is required
          </small>
        </div>
  
        <div class="mb-3 login-section">
          <label class="form-label">Confirm Password <span class="asterisk">*</span></label>
          <input type="password" class="form-control" placeholder="Re-enter password"
                 formControlName="confirmPassword">
  
          <small class="text-danger"
            *ngIf="resetForm.hasError('passwordMismatch') &&
                   resetForm.get('confirmPassword')?.touched">
            Passwords do not match
          </small>
        </div>
  
        <div class="d-grid gap-2">
          <button class="login-button"
                type="submit"
                [disabled]="resetForm.invalid || isLoading">
          {{ isLoading ? 'Resetting...' : 'Reset Password' }}
        </button>
        </div>
        
  
        <p class="text-success text-center mt-3" *ngIf="successMsg">
          {{ successMsg }}
        </p>
      </form>
  
      <p class="text-danger text-center" *ngIf="errorMsg">
        {{ errorMsg }}
      </p>
  
    </div>
  </div>
  