<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<div class="bd-container">
    <div class="position-header">
        <app-header [showElement]="true"></app-header>
    </div>

    <!-- <div class="tab-menu d-flex align-items-center" *ngIf="this.vendorLogin == 'PRIMARY' || this.vendorLogin == ''">
        <a href="javascript:void(0);" (click)="activateNav('/dashboard/home')">
            <label class="menu-label" [class.active]="active === '/dashboard/home'">Home</label>
        </a>
        <a href="javascript:void(0);" (click)="activateNav('/dashboard/help')">
            <label class="menu-label" [class.active]="active === '/dashboard/help'">Help</label>
        </a>
        <a href="javascript:void(0);" (click)="activateNav('/dashboard/logistic')"
            *ngIf="roleName == 'LogisticOfficer'">
            <label class="menu-label" [class.active]="active === '/dashboard/logistic'">Home</label>
        </a>
    </div> -->

    <!--Changes by Suleman-->
   <div class="tab-menu">
  <div class="menu-container" *ngIf="roleName == 'USER'">

    <a (click)="activateNav('/dashboard/articles')">
      <label class="menu-label" [class.active]="active === '/dashboard/articles'">Articles</label>
    </a>

    <a (click)="activateNav('/dashboard/simulation')">
      <label class="menu-label" [class.active]="active === '/dashboard/simulation'">Simulation</label>
    </a>

    <a (click)="activateNav('/dashboard/how-things-work')">
      <label class="menu-label" [class.active]="active === '/dashboard/how-things-work'">How things Work?</label>
    </a>

    <a (click)="activateNav('/dashboard/courses')">
      <label class="menu-label" [class.active]="active === '/dashboard/courses'">Courses</label>
    </a>

    <a (click)="activateNav('/dashboard/consultation')">
      <label class="menu-label" [class.active]="active === '/dashboard/consultation'">Consultation</label>
    </a>

    <a (click)="activateNav('/dashboard/help')">
      <label class="menu-label" [class.active]="active === '/dashboard/help'">Help</label>
    </a>
  </div>
</div>


    <div class="m-4" style="padding-bottom: 40px;">
        <app-breadcrumb (changedUrl)="urlChange($event)"></app-breadcrumb>
        <router-outlet></router-outlet>
    </div>

    <div class="position-footer">
        <app-footer></app-footer>
    </div>
</div>
