<div class="container min-vh-100 d-flex align-items-center justify-content-center">
  <div class="card shadow border-0" style="width: 420px;">

    <div class="card-body p-4">

      <!-- Logo -->
      <div class="d-flex justify-content-center align-items-center adani-logo">
        <img src="../../../assets/svg/AMX_Logo_Updated.png" alt="" />
    </div>

      <!-- Title -->
      <h4 class="text-center mb-4">Forgot Password</h4>

      <!-- Form -->
      <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">

        <div class="mb-3 text-start">
          <label class="form-label">
            Email <span class="asterisk">*</span>
          </label>

          <input
            type="email"
            class="form-control"
            placeholder="Enter your registered email"
            formControlName="email"
          />

          <span class="text-danger"
                *ngIf="forgotForm.get('email')?.touched &&
                       forgotForm.get('email')?.hasError('required')">
            Email is required
          </span>

          <span class="text-danger"
                *ngIf="forgotForm.get('email')?.touched &&
                       forgotForm.get('email')?.hasError('email')">
            Enter a valid email address
          </span>
        </div>

        <button
          type="submit"
          class="btn btn-primary w-100"
          [disabled]="forgotForm.invalid">
          Send Reset Link
        </button>

      </form>

      <!-- Back to Login -->
      <div class="text-center mt-3">
        <a routerLink="/login">Back to Login</a>
      </div>

    </div>
  </div>
</div>
